  <div class="login">
    <div class="wrapper">
    
        <div id="loginForm" class="block-dark sign-block">

          <h3 id="h3Inset">Reset Password</h3>
          <hr class="hr-dark">

          <form data-validate="parsley" id="sign-form" action="/reset/<%=req.param('userid')%>/<%=req.param('requestid')%>" class="form-light" method="POST">
            
            <% if (res.locals.errorMsg) { %>
                <div>
                  <p><%=res.locals.errorMsg%></p>
                </div>
            <% } %>
            
            <div class="input-login">      
              <!-- <span class="add-dark"><i class="icon-lock"></i></span> -->
                Password: <input type="password" id="password" class="form-control" placeholder="Password" name="password"
                                 data-parsley-pattern="/^(?=.*[\d])(?=.*[!@#$%^&*])[\w!@#$%^&*]{6,16}$/" data-parsley-minlength="6" required >
            </div>
            <div>
                Must be between 6-16 characters long and contain at least 1 number and 1 special character.
            </div>

            <div class="clearfix"></div>

            <div class="input-login">      
                Confirm Password: <input type="password" class="form-control" placeholder="Confirm Password" name="confirmation"
                                         data-parsley-equalto="#password" data-parsley-equalto-message="Password must match confirmation" requried>
            </div>
            <div>
                <span id="sign-form-valid" onclick="javascript:$('#sign-form').parsley('validate');">
                  <input type="submit" class="btn btn-inverse" id="loginSubmit" value="Save New Password">
                </span>        
            </div>

          </form> 

          <div class="clearfix"></div>

          <hr class="hr-dark">       

        </div>
        
    </div>
  </div>

<script>
  $(document).ready(function(){

  });
</script>