<script>
  var initComponents = function() {
      console.log('you are here.');
  }
</script>
<style>
    .widget {
        height: 100%;
        width: 920px;
        background-color: white;
    }
    .dialog-container {
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        color: #333; */
        background-color: #fff; 
    }
/*
   .ngdialog-content {
        max-width: 920px;
        height: 518px;
       
    }
*/
/*    height: 730px;*/
/*
    .ngdialog {
        top: 10%;
        left: 30%;
        max-width: 720px;
        height: 730px;
    }
*/
    .bgSelector {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 920px;
        height: 520px;
/*        z-index: 1;*/
/*        height: 480px;*/
        
    }
    .companyHeader {
/*
        position: absolute;
        top: 20px;
*/
        left: 20px;
/*
        width: 154px;
        height: 480px;
*/
        
    }
    
    #companyLogo {
        z-index: 200;
        position: absolute;
        top: 30px;
        left: 8px;
        width: 254px;
        height: 44px;
        background-color : #e0e0e0;
        opacity: 0.65;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }
    #companyLogo:hover {
        opacity: 1.0;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
    #companyTitle {
        position: absolute;
        margin-top: 2px;
        font-size:small;
        top: 52px;
        left: 8px;
        width: 154px;
        height: 40px;
        background-color : #e0e0e0;
        
    }
    #productInfo {
        z-index: 200;
        position: absolute;
        margin-top: 2px;
        font-size:small;
        top: 61px;
        left: 8px;
        width: 154px;
        height: 154px;
        background-color : #e0e0e0;
        
    }
    #announcementGroupName {
        position: absolute;
        z-index: 200;
        /* margin-top: 2px; */
        font-size: small;
        top: 54px;
        left: 100px;
        width: 200px;
        height: 80px;
        background-color: rgba(224, 224, 224, 0.3);
    }
    #image {
/*
        max-width: 180px !important;
        max-height: 180px !important;
*/
        /* width: 100%; */
        /* height: 100%; */
        object-fit: contain;
        opacity: 0.65;
        /* left: 64px; */
        filter: alpha(opacity=65);    
        padding-left: 20px;
    }
    #image img {
    }
    #taImage {
        height: 200px;
/*        max-width: 188px;*/
    }

    #announcementGroupImage {
        position: absolute;
        z-index: 200;
        /* margin-top: 2px; */
        font-size: small;
        top: 54px;
        left: 310px;
        width: 220px;
        height: 186px;
        background-color: rgba(224, 224, 224, 0.3);
    }
    #announcementGroupDescription {
        position: absolute;
        z-index: 200;
        /* margin-top: 2px; */
        font-size: small;
        top: 150px;
        left: 100px;
        width: 200px;
        height: 328px;
        background-color: rgba(224, 224, 224, 0.3);
    }
    #announcementGroupDetail {
        position: absolute;
        z-index: 200;
        /* margin-top: 2px; */
        font-size: small;
        top: 250px;
        left: 310px;
        width: 220px;
        height: 230px;
        background-color: rgba(224, 224, 224, 0.3);
    }
    .form-horizontal textarea {
         width: 100% !important; 
    }
    #companyPhone {
        position: absolute;
        margin-top: 2px;
        font-size:small;
        top: 250px;
        left: 2px;
        width: 154px;
        height: 20px;
        background-color : #e0e0e0;
        
    }
    #companyWeb {
        position: absolute;
        margin-top: 2px;
        font-size:small;
        top: 272px;
        left: 2px;
        width: 154px;
        height: 20px;
        background-color : #e0e0e0;
        
    }
    #companyImage {
        z-index: 200;
        position: absolute;
        margin-top: 2px;
        top: 217px;
        left: 8px;
        width: 154px;
        height: 154px;
        opacity: 0.65;
        filter: alpha(opacity=65);        
        background-color : #e0e0e0;
    }
    #companyImage:hover {
       opacity: 1.0;
       filter: alpha(opacity=100);    /* For IE8 and earlier */
    }
    #locateMeImage {
        z-index: 200;
        position: absolute;
        margin-bottom: 2px;
        margin-left: 2px;
        bottom: 32px;
        left: 532px;
        opacity: 0.65;
        filter: alpha(opacity=65);
        background-color: transparent;
        top: 58px;
    }
    
    
    #locateMeImage:hover {
       opacity: 1.0;
       filter: alpha(opacity=100);    /* For IE8 and earlier */
    }
    
    #featuresTextArea {
        max-height: 130px;
        max-width: 198px;
        margin-left: 10px;
    }
    
    #announcementGroupFeatures {
        position: absolute;
        z-index: 200;
        font-size: small;
        top: 306px;
        left: 542px;
        width: 220px;
        height: 174px;
        background-color: rgba(224, 224, 224, 0.3);
    }
    
    #locationImage {
        z-index: 100;
        position: absolute;
        left: 529px;
        top: 54px;
        width: 240px !important;
        height: 240px !important;
    }
    #mapImage {
        max-width: 100% !important;
        max-height: 100% !important;
    }
    #mainTitle {
        position: absolute;
        margin-top: 2px;
        top: 94px;
        left: 520px;
        width: 320px;
        height: 80px;
        background-color : #e0e0e0;
        
    }
    #mainInfo {
        position: absolute;
        margin-top: 2px;
        top: 200px;
        left: 194px;
        width: 380px;
        height: 200px;
        background-color : #e0e0e0;
        
    }
    #mainInfoTextArea {
        width: 100% !important;
        height: 200px;
        margin: 1px;
        padding: 0px;
        background-color : #e0e0e0;
        
    }
    #addressTextArea {
        width: 100% !important;
        height: 154px;
        margin: 1px;
        padding: 0px;
        background-color : #e0e0e0;
    }
    input::-webkit-input-placeholder {
        color: red !important;
    }
    input:-moz-placeholder { /* Firefox 18- */
        color: red !important;
    }
    input::-moz-placeholder { /* Firefox 19+ */
        color: red !important;
    }
    input:-ms-input-placeholder {
        color: red !important;
    }

    textarea::-webkit-input-placeholder {
        color: red !important;
    }

    textarea:-moz-placeholder { /* Firefox 18- */
        color: red !important;
    }

    textarea::-moz-placeholder {  /* Firefox 19+ */
        color: red !important;
    }

    textarea:-ms-input-placeholder {  
        color: red !important;
    }

    .is-placeholder {  
        color: red !important;
    }
    .footer {
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom : 10px;
        border: 1px;
    }
    .widget-title {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: medium;
        padding: 10px;
        color: green !important;
    }
    #logo {
        
        width: 154px;
        height: 32px;
        opacity: 0.65;
        filter: alpha(opacity=65); /* For IE8 and earlier */
    }

    #logo:hover {
        opacity: 1.0;
        filter: alpha(opacity=1.0); /* For IE8 and earlier */
    }

    #cimage {
        width: 154px;
        height: 154px;
    }

    #mainImage {
/*
        z-index: 10;
        position: absolute;
        width: 920px;
        height: 520px;
*/
        z-index: 10;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        height: 100%;
 
    }

    #hiddenButton {
        z-index: 500;
        position: absolute;
        width: 100px;
        height: 100px;
        left: 300px;
        top: 40px;
    }

    #mainImageInner {
        z-index: 10;
        position: absolute;
        width: 320px;
        height: 320px;
        left: 270px;
        top: 120px;
    }

    #image {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0.65;
        filter: alpha(opacity=65); /* For IE8 and earlier */
    }

    #mainImageInner:hover {
        opacity: 1.0;
        color: aquamarine;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }

    #hiddenButton:hover {
        opacity: 1.0;
        color: aquamarine;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }

    .ImageContainer
    {
        text-align: center;
    }

    .ImageContainer:before
    {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .ImageContent
    {
/*
        display: inline-block;
        vertical-align: middle;
        object-fit: contain;
*/
        display: block;
        margin: 0 auto;
    }
    
    #middle {position: absolute; top: 50%;} /* for explorer only*/
    #middle[id] {vertical-align: middle; width: 100%;}
    #inner {position: relative; top: -50%} /* for explorer only */
    
    
    .mapContainer { height: 400px; width: 400px; }
    #mapid {
        height: 400px; 
        width: 400px; 
    }
    #nameTextArea {
        max-height: 300px;
    }
    #categoryTextArea {
        max-height: 300px;
    }
    #descriptionTextArea {
        max-height: 300px;
    }
    #detailsTextArea {
        max-height: 300px;
    }

    #DisplayEditForm {
/*        background: #b1cecc;*/
        background: rgba(177, 206, 204, 0.3);
        
    }
    #announcementGroupNameLower {
        margin-right: 100px;
    }
    
</style>
<div class="content">
<div class="col-sm-12">
<!--        <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>-->
<div class="widget">
<div class="widget-title">{{$root.announcementGroupPageTitle}}</div>
<!--    ng-init="initMedia();"-->
<div class="widget-body" ng-controller="DSNController">
    <div class="XiboGrid" id="5672f9d61b19d">
    <form id="DisplayEditForm" class="form-horizontal" editable-form="editable-form" method="post" action="" novalidate="novalidate" >
       <div class="row">
	   <div class="col-md-12">
<!--		background:url('{{$root.currentAnnouncementGroup.bgimage.src}}') top center no-repeat; background-color:#000000;-->
        <div id="layout" zoom="1" tip_scale="1" designer_scale="0.41666666666667" version="2" class="layout" layoutid="139" data-background-color="#000000" style="position:relative; width:920px; height:520px;">
<!--            <div id="hiddenButton" class="bgSelector" ng-click="showLibraryC('bgimage', '1920', '1080', true)"></div>-->
            
        <div id="productInfoRegion" regionenabled="1" regionid="90843930057223592e84c7" layoutid="139" tip_scale="1" designer_scale="0.41666666666667" width="320px" height="640px" href="" ondblclick="">
<!-- these have moved to AnnouncementGroup page -->
<!--                <div id='companyLogo' class='companyHeader' width='100%' ng-click="showLibrary2('logo','320','120', false);  $event.stopPropagation();">-->
<!--
                <div id='companyLogo' class='companyHeader' width='100%' >
                    <img id='logo' src='{{$root.companyInfo.logo.path}}'/>
                </div>
-->
<!--
                <div id='productInfo' class='companyHeader'>
                    <textarea id='addressTextArea' width='100%' height='100%' placeholder="Product Information"  on-change="validateTextNothing(value)" 
                      ng-model="$root.currentAnnouncementGroup.productInfo"
                      [name="ComProductpany Information"]
                      [required="string"]
                      [ng-required="string"]
                      [ng-trim="false"]>
                    </textarea>
                </div>
-->
<!--                <div id='companyImage'  class='companyHeader' ng-click="openLocateProduct2('cimage','320','320', false);  $event.stopPropagation();">-->
<!--
                <div id='companyImage'  class='companyHeader'>
                    <img id='cimage' src="{{$root.currentAnnouncementGroup.cimage.src}}"/>
                </div>
-->

            
<!--
                <div id='mainImage'>
                    <img id ='image' src="{{$root.currentAnnouncementGroup.image.src}}"/>
                    <div id='mainImageInner' ng-click="showLibrary2('image','960','540', true);  $event.stopPropagation();"></div>
                </div>
-->
                <div id='announcementGroupName' class="form-group">

                    <label for="nameTextArea" class="col-md-2 control-label">Name</label>
                    <div class="col-md-12">
                        <textarea id='nameTextArea' rows="2" cols="68" maxlength="136" width='100%' height='100%' placeholder="Product Name"  on-change="validateTextNothing(value)" 
                          ng-model="$root.currentAnnouncementGroup.name"
                          [name="Announcement Name"]
                          [required="string"]
                          [ng-required="string"]
                          [ng-trim="false"]>
                        </textarea>
                    </div>
                </div>

                <div id='announcementGroupDescription' class="form-group">
                    <label for="descriptionTextArea" class="col-md-2 control-label">Description</label>
                    <div class="col-md-12">
                    <textarea id='descriptionTextArea' rows="16" cols="80" maxlength="200" width='100%' height='100%' placeholder="Product Description"  on-change="validateTextNothing(value)" 
                      ng-model="$root.currentAnnouncementGroup.details"
                      [name="Announcement Description"]
                      [required="string"]
                      [ng-required="string"]
                      [ng-trim="false"]>
                    </textarea>
                    </div>
                </div>

                <div id='announcementGroupDetail' class="form-group">
                    <label for="detailsTextArea" class="col-md-2 control-label">Details</label>
                    <div class="col-md-12">
                        <textarea id='detailsTextArea' rows="10" cols="80" maxlength="200" width='100%' height='100%' placeholder="Product Details"  on-change="validateTextNothing(value)" 
                          ng-model="$root.currentAnnouncementGroup.details"
                          [name="Announcement Details"]
                          [required="string"]
                          [ng-required="string"]
                          [ng-trim="false"]>
                        </textarea>
                    </div>
                </div>
            
                <div id='announcementGroupImage' class="form-group" ng-click="showLibraryC(currentAnnouncementGroup, 'image', '320', '240', false); $event.stopPropagation();">
                    <label for="image" class="col-md-2 control-label">Image</label>
<!--                    <div class="col-md-12">-->
                    <div class="taImage" ng-click="showLibraryC(currentAnnouncementGroup, 'image', '320', '240', false); $event.stopPropagation();">
                        <img id="image" src="{{currentAnnouncementGroup.image.src}}" ng-click="showLibraryC(currentAnnouncementGroup, 'image', '320', '240', false); $event.stopPropagation();">
                    </div>
<!--                    </div>-->
                </div>


                <div id='announcementGroupFeatures' class="form-group">
                    <label for="featuresTextArea" class="col-md-4 control-label">Features</label>
                    <div class="col-md-24">
                        <textarea id='featuresTextArea' rows="10" cols="4" maxlength="200" width='100%' height='100%' placeholder="Product Details"  on-change="validateTextNothing(value)" 
                          ng-model="$root.currentAnnouncementGroup.features"
                          [name="Announcement Features"]
                          [required="string"]
                          [ng-required="string"]
                          [ng-trim="false"]>
                        </textarea>
                    </div>
                </div>

                <div id='locateMeImage'  class='button' class="form-group">
                    <img id='limage' src="/images/locateMe.png" ng-click="openLocateAnnouncementGroup('cimage','320','320', false);"/>
                </div>
                <div id='locationImage' ng-if="hasLocation($root.currentAnnouncementGroup);" >
                    <img id='mapImage' src='{{getLocation($root.currentAnnouncementGroup)}}'/>
                </div>
                
        </div>

    </div>	
    </div>
    </div>
    </form>
    </div>
</div>
</div>
    <div class="footer">
        <button class="btn btn-default" ng-click='help()'>Help</button>
<!--        <button class="btn btn-default" ng-click="openLocateProduct2('cimage','320','320', false);">Locate</button>-->
        <button class="btn btn-default" ng-click="showAnnouncementGroups()">Cancel</button>
        <button class="btn btn-primary" ng-click="saveAnnouncementGroup()">Save</button>
        
        <div id="announcementGroupNameLower" class="text-info text-right">
            <p editable-text="$root.currentAnnouncementGroup.name" on-change="validateNothing(value)" placeholder="Product Name"></p>
        </div>
        <div class="text-info text-right">
            {{$root.currentAnnouncementGroup.lat}}, {{$root.currentAnnouncementGroup.lon}}
        </div>
        </div>

</div>
</div>
