<!DOCTYPE html>
<html ng-app="kombi" ng-controller="HomeCtrl">
    <head>
        <title>Kombi - MOM Network</title>
        <base href="/">
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--
        Stylesheets and Preprocessors
        ==============================
        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS). Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).
        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
        + Change the order of your CSS files
        + Import stylesheets from other directories
        + Use a different or additional preprocessor, like SASS, SCSS or Stylus
        -->
        <!-- font awesome from BootstrapCDN -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
        <!--STYLES-->
        <link rel="stylesheet" href="lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/leaflet/dist/MarkerCluster.Default.css">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css">
        <link rel="stylesheet" href="bower_components/angular-bootstrap-datetimepicker/dist/css/datetimepicker.css">
        <link rel="stylesheet" href="bower_components/angular-editable-text/dist/angular-editable-text.min.css">
        <link rel="stylesheet" href="css/ngDialog.css">
        <link rel="stylesheet" href="css/ngDialog-theme-default.css">
        <link rel="stylesheet" href="styles/c3.css">
        <link rel="stylesheet" href="styles/font-awesome-v4.css">
        <link rel="stylesheet" href="styles/font-awesome.css">
        <link rel="stylesheet" href="styles/font-awesome.min.css">
        <link rel="stylesheet" href="styles/importer.css">
        <link rel="stylesheet" href="styles/jquery.spellchecker.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/masonry.css">
        <link rel="stylesheet" href="styles/nav4style.css">
        <link rel="stylesheet" href="styles/normalize.css">
        <link rel="stylesheet" href="styles/ol.css">
        <link rel="stylesheet" href="styles/olstyle.css">
        <link rel="stylesheet" href="styles/parsley.css">
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/tablesorter.css">
        <link rel="stylesheet" href="styles/tablesorter.default.css">
        <link rel="stylesheet" href="styles/wizard.css">
        <!--STYLES END-->
    </head>
<body>
<!--
Client-side Javascript
========================
You can always bring in JS files manually with `script` tags, or asynchronously
on the client using a solution like AMD (RequireJS). Or, if you like, you can
take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).
By default, filesin your `assets/linker/js` folder are included here
automatically (between SCRIPTS and SCRIPTS END). Both JavaScript (.js) and
CoffeeScript (.coffee) are supported. In production, your scripts will be minified
and concatenated into a single file.
To customize any part of the built-in behavior, just edit your Gruntfile.
For example, here are a few things you could do:
+ Change the order of your scripts
+ Import scripts from other directories
+ Use a different preprocessor, like TypeScript
-->
<!--SCRIPTS-->
<script src="lib/jquery-1.11.3.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="bower_components/angular-ui-bootstrap/src/dateparser/dateparser.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/sails.io.js/dist/sails.io.js"></script>
<script src="bower_components/angularSails/dist/ngsails.io.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-dateParser/dist/angular-dateparser.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-bootstrap-datetimepicker/dist/js/datetimepicker.js"></script>
<script src="bower_components/angular-bootstrap-datetimepicker/dist/js/datetimepicker.templates.js"></script>
<script src="bower_components/angular-credit-cards/release/angular-credit-cards.js"></script>
<script src="bower_components/angular-csv-import/dist/angular-csv-import.js"></script>
<script src="bower_components/angular-editable-text/dist/angular-editable-text.min.js"></script>
<script src="bower_components/angular-img-cropper/dist/angular-img-cropper.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
<script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
<script src="lib/angular-ui.js"></script>
<script src="lib/c3/c3.js"></script>
<script src="lib/simple-logger/index.js"></script>
<script src="lib/angular-leaflet-directive.js"></script>
<script src="lib/leaflet-1.0/dist/leaflet.js"></script>
<script src="lib/leaflet/dist/leaflet.markercluster-src.js"></script>
<script src="lib/leaflet-providers.js"></script>
<script src="chartData/kombiLeaf.js"></script>
<script src="chartData/visitmetrics.js"></script>
<script src="lib/leaflet.draw/dist/leaflet.draw.js"></script>
<script src="lib/leaflet-plugins/layer/tile/Bing.js"></script>
<script src="lib/jasny/bootstrap-fileupload.js"></script>
<script src="lib/jasny/bootstrap-typeahead.js"></script>
<script src="js/responsive-tables.js"></script>
<script src="js/date.js"></script>
<script src="js/daterangepicker.js"></script>
<script src="js/jquery.spellchecker.js"></script>
<script src="js/parsley.js"></script>
<script src="js/jquery.masonry.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/d3.v3.min.js"></script>
<script src="js/jquery.simplemodal-1.4.4.js"></script>
<script src="js/moment.js"></script>
<script src="js/rivets.min.js"></script>
<script src="js/c3.min.js"></script>
<script src="js/jquery.tablesorter.min.js"></script>
<script src="js/kombiUtility.js"></script>
<script src="js/fcsaNumber.js"></script>
<script src="js/ng-flow-standalone.js"></script>
<script src="angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
<script src="js/tpicker/position.js"></script>
<script src="js/tpicker/timepicker.js"></script>
<script src="js/tpicker/timepicker-tpl.js"></script>
<script src="js/ngDialog2.js"></script>
<script src="src/app/about/index.js"></script>
<script src="src/app/app.js"></script>
<script src="src/app/dsn_controllers.js"></script>
<script src="src/app/header/index.js"></script>
<script src="src/app/home/index.js"></script>
<script src="src/app/login_controller.js"></script>
<script src="src/app/marketability/index.js"></script>
<script src="src/app/mobility/index.js"></script>
<script src="src/app/network/index.js"></script>
<script src="src/app/observation/index.js"></script>
<script src="src/app/store/index.js"></script>
<script src="src/common/models/index.js"></script>
<script src="src/common/models/message.js"></script>
<script src="src/common/models/user.js"></script>
<script src="src/common/services/config.js"></script>
<script src="src/common/services/index.js"></script>
<script src="src/common/services/lodash.js"></script>
<script src="src/common/services/title.js"></script>
<script src="src/common/services/utils.js"></script>
<!--SCRIPTS END-->
    
<!--
Client-side Templates
========================
HTML templates are important prerequisites of modern, rich client applications.
To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
that you load these templates client-side.
By default, your Gruntfile is configured to automatically load and precompile
client-side JST templates in your `assets/linker/templates` folder, then
include them here automatically (between TEMPLATES and TEMPLATES END).
To customize this behavior to fit your needs, just edit your Gruntfile.
For example, here are a few things you could do:
+ Import templates from other directories
+ Use a different template engine (handlebars, jade, dust, etc.)
+ Internationalize your client-side templates using a server-side
stringfile before they're served.
-->
<!--TEMPLATES-->
<script type="text/javascript" src="/templates.js"></script>
<!--TEMPLATES END-->
<style>
    .container {
        margin-left: 1px;
        margin-right: 1px;
        padding-left: 1px;
        padding-right: 1px;
    }
/*    div.sidebar-nav.affix*/
    #sidebarNav {
        margin-right: 2px;
        max-width: 238px;
        background-image: linear-gradient(to bottom,  rgba(177, 216, 213,1) 0%,rgba(63, 123, 116,1) 100%); 
    }
    .fa {
        color: #066728;
    }
</style>
<%- body %>

</body>
</html>