<style>
    .ngdialog-content {
        width: 680px;
        height: 680px;
    }
    .ngdialog {
        top: 10%;
        left: 20%;
        width: 680px;
        height: 680px;
    }
    #dgDialog {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 6px;
        margin-bottom: 6px;
        width: 680px;
        height: 680px;
    }
    #dgContent {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 540px;
        height: 560px;
    }

    #dgGrid {
        height: 540px;
    }

    #dgBody {
        width: 540px;
        height: 560px;
    }
    
    #dgData {
        height: 560px;
    }

    #dgFooter {
        margin-bottom: 2px;
        bottom: 10px;
    }
    #displaysIn {
        background-color: #F3F3F3;
    }
    #displaysOut {
        background-color: #F3F3F3;
    }
    .modal-footer {
        bottom: 2%;
    }
</style>
<div class="modal-dialog" id="dgDialog" ng-controller="DGroupDialogController"  ng-init="initialize()">
    <div class="modal-content" id="dgContent">
    <div class="modal-header">
        <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Manage Membership</h4>
    </div>
    <div class="modal-body" id="dgBody">
        <div class="bootbox-body">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center text-info">Drag or double click to move items between lists</p>
                </div>
            </div>
            <div class="row">
                <div class="connectedlist col-sm-6">
                    <p class="text-info">Assigned Displays</p>
                     <ul id="displaysIn" class="connectedSortable ui-sortable">
                        <li id="display.id" class="li-sortable" ng-repeat="display in assignedDisplays track by $index">
                            {{display.name}}<span class="glyphicon glyphicon-minus-sign" ng-click="removeDisplayEntry($index)"></span>
                        </li>
                    </ul>
                </div>
                <div class="connectedlist col-sm-6">
                    <p class="text-info">Available Displays</p>
                    <ul id="displaysOut" class="connectedSortable ui-sortable">
                        <li id="display.id" class="li-sortable" ng-repeat="display in availabledisplays track by $index">
                            {{display.name}}<span class="glyphicon glyphicon-plus-sign" ng-click="addDisplayEntry(display)"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default">Help</button>
        <button class="btn btn-default">Cancel</button>
        <button class="btn btn-default" ng-click="saveDisplayGroup()">Save</button>
    </div>
    </div>
</div>