<style>
    #asnDialog {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 6px;
        margin-bottom: 6px;
        width: 640px;
        height: 640px;
    }
    #asnContent {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 640px;
        height: 640px;
    }

    #asnGrid {
        max-height: 300px;
/*        height: 580px;*/
    }

    #asnBody {
        width: 580px;
        max-height: 300px;
/*      height: 580px;*/
    }
    
    #asnData {
        max-height: 300px;
/*        height: 580px;*/
    }

    #asnFooter {
        margin-bottom: 2px;
        bottom: 10px;
    }
    .modal-footer {
        bottom: 2%;
    }
        .pagination ul>.active>a, .pagination ul>.active>span {
/*        color: #0088cc;*/
        cursor: default;
        text-decoration: bold;
    }

    .pagebtn:hover, .pagebtn:focus, .pagebtn:active, .pagebtn.active, .pagebtn.disabled, .pagebtn[disabled] {
     background-color: #b2b0b0; 
     color: #777; 
    }
    .pagebtn:hover, .pagebtn:focus, .pagebtn.focus {
         color: #3f7b74; 
         text-decoration: none; 
    }
    .pagebtn:hover, .pagebtn:focus {
         color: #333; 
         text-decoration: none; 
    }
    .pagebtn {
        /* outline: none !important; */
        /* color: #777; */
        /* text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25); */
        background-color: #efefef;
        background-image: none;
        box-shadow: none;
        background-repeat: repeat-x;
        border-color: none;
        border-width: 0px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 5px;
    }
    .pagebtn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .pagebtn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .ngdialog-content {
        width: 700px !important;
    }
    
</style>
<div class="modal-content" id="asnDialog" ng-controller="LayoutAssignDialogController" ng-init="initialize()">
    <div class="modal-header">
        <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Assign content to {{$root.currentLayout.name}} from Library</h4>
    </div>
    <div id="asnBody" class="modal-body">
        <div class="bootbox-body">
    
        Region: <span if-show="numRegions <= 1">{{selectedRegion.name}}</span>
        <select if-show="numRegions > 1" ng-model="selectedRegion" ng-change="updateMediaList()" ng-options="region as region.name for region in $root.currentLayout.regions"></select>

        <div id="FileAssociationsAssign" class="well">
            <div>
                <ul id="FileAssociationsSortable" class="ui-sortable">
                    <li id="entry.id" class="li-sortable" ng-repeat="entry in selectedRegion.entries track by $index">
                        {{entry.name}}
                        <span class="glyphicon glyphicon-minus-sign" ng-click="removeMediaEntry($index)"></span>
                        <span class="glyphicon glyphicon-plus-sign" ng-click="openAddRuleToMedia($index)"></span>
                    </li>
                </ul>
            </div>
        </div>
    <div class="XiboGrid" id="asnGrid">
	<div class="XiboFilter">
		<div class="FilterDiv" id="Filter">
			<form>
			</form>
		</div>
	</div>
	<div class="XiboData" id="asnData">
        <table id="FileAssociationsTable" class="table table-bordered tablesorter tablesorter-bootstrap" role="grid" aria-describedby="FileAssociationsTable_pager_info">
            <colgroup><col style="width: 82.4%;"><col style="width: 9.4%;"><col style="width: 3.4%;"></colgroup>
	<thead>
		<tr role="row" class="tablesorter-headerRow">
			<th data-column="0" class="tablesorter-header tablesorter-headerAsc bootstrap-header" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="FileAssociationsTable" unselectable="on" aria-sort="ascending" aria-label="Name : Ascending sort applied, activate to apply a descending sort" style="-webkit-user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner">Name <i class="tablesorter-icon glyphicon glyphicon-chevron-up"></i></div></div></th>
			<th data-column="1" class="tablesorter-header tablesorter-headerUnSorted bootstrap-header" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="FileAssociationsTable" unselectable="on" aria-sort="none" aria-label="Type : No sort applied, activate to apply an ascending sort" style="-webkit-user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner">Type <i class="tablesorter-icon bootstrap-icon-unsorted"></i></div></div></th>
			<th data-column="2" class="tablesorter-header tablesorter-headerUnSorted bootstrap-header" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="FileAssociationsTable" unselectable="on" aria-sort="none" aria-label=" : No sort applied, activate to apply an ascending sort" style="-webkit-user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner"> <i class="tablesorter-icon bootstrap-icon-unsorted"></i></div></div></th>
		</tr>
	</thead>

            
        <tbody aria-live="polite" aria-relevant="all"> 
<!--           ng-init="getMedia()"-->
        <tr dir-paginate="asset in media | itemsPerPage: 10" pagination-id="lpaginate" class="warning odd" role="row" >
<!--         <tr rowid="{{asset.id}}" litext="{{asset.name}}" role="row" ng-repeat="asset in media | orderBy:sortingOrder:reverse" class="{{selected}}">-->
                <td>{{asset.name}}</td>
                <td>{{asset.mimetype}}</td>
                <td><span class="library_assign_list_select glyphicon glyphicon-plus-sign" ng-click="addMediaEntry(asset)"></span></td>
            </tr>
       </tbody>
       </table>
        <div id="apagination">
            <dir-pagination-controls pagination-id="lpaginate" boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/dirPagination.tpl.html"></dir-pagination-controls>
        </div>

        
        
<!--
        <div id="paginationRegion">
           <div id="tpc">Total Pages: {{getMediaPageCount()}}</div>

           <pagination boundary-links="true" 
                max-size="3" 
                items-per-page="itemsPerPage"
                total-items="getMediaLength()" 
                ng-model="pages" 
                ng-change="pageChanged(page)"
                on-select-page="pageChanged(page)">
           </pagination>

        </div>
-->
        <div id="asnFooter" class="modal-footer">
            <button id='helpButton' class='btn btn-default' ng-click='help()'>Help</button>
            <button id='saveButton' class='btn btn-default' ng-click="saveLayout()">Assign</button>
            <button id='cancelButton' class='btn btn-default' ng-click="closeThisDialog()">Cancel</button>
        </div>

    </div>
</div>
</div>
    </div>
<!--
    <div id="asnFooter" class="modal-footer">
        <button id='helpButton' class='btn btn-default' ng-click='help()'>Help</button>
        <button id='saveButton' class='btn btn-default' ng-click="saveLayout()">Assign</button>
        <button id='cancelButton' class='btn btn-default' ng-click="closeThisDialog()">Cancel</button>
    </div>
-->
</div>