<!--
titleText
titleImage
mainText
mainImage
CompanyInfo
	logo
	Name
	address details
	map ( location, identity ) image
	scan code
-->


<!--<select ng-model="layoutTemplate" ng-options="item as item.name for item in layoutTemplates"></select>-->
<style>
    .ngdialog-content {
        width: auto !important;
        padding: 0 !important;
    }
    #companyDialog {
        margin: auto !important;
        padding-top: 30px;
/*
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 6px;
        margin-bottom: 6px;
*/
        width: 700px;
/*        height: 700px;*/
    }
    #companyContent {
/*
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
*/
/*        width: 680px;*/
/*        height: 680px;*/
    }

    #ltBody {
/*        width: 620px;*/
/*        height: 620px;*/
    }
    .nwell {
        background-color: #F7F7F7;
        margin-top: 4px;
        margin-bottom: 4px;

        height: 200px !important;
        width: 420px !important;
        border: 1px solid #EEEEEE;
        -webkit-box-shadow: 1px 1px 0px #ffffff;
        -moz-box-shadow: 1px 1px 0px #ffffff;
        box-shadow: 1px 1px 0px #ffffff;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }

    #bgl-pop {
/*        position: inherit;*/
        float: left;
        width: 205px;
        height: 154px;
        object-fit: contain;
/*        overflow: hidden;*/
    }

    #bgp-pop {
/*        position: inherit;*/
        float: right;
        width: 200px;
        height: 154px;
        object-fit: contain;
        overflow: hidden;
    }
    #bgl-lbl {
        float: left;
        padding-left: 10px;
        width: 205px;
    }

    #bgp-lbl {
        float: right;
        padding-left: 24px;
        width: 200px;
    }

</style>

<div class="modal-dialog" id="companyDialog" ng-controller="CompanyDialogController" ng-init="initialize()">
    <div class="modal-content" id=companyContent">
    <div class="modal-header">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">{{layoutTitle}}</h4>
    </div>
    <div class="modal-body" id="ltBody">
        <div class="bootbox-body">
            
            
            <div class="nwell">
                <div>
                    <label id='bgl-lbl'>Landscape Background</label>
                    <label id='bgp-lbl'>Portrait Background</label>
                </div>
                <div>
                    <img id="bgl-pop" ng-click="showLibrary('landscape', '1920', '1080', false)" src="{{backgroundImageLandscape.path}}"/> 
                    <img id="bgp-pop" ng-click="showLibrary('portrait', '1080', '1920', false)" src="{{backgroundImagePortrait.path}}"/> 
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"> <a href="#general" role="tab" data-toggle="tab">General</a></li>
                    <li class=""> <a href="#description" role="tab" data-toggle="tab">Description</a></li>
                </ul>
                <form id="LayoutForm" class="XiboForm form-horizontal" method="post" action="/dsn/saveLayout" novalidate="novalidate">
                    <input type="hidden" name="token" value="f936889b3849acc1afbbab55cd1298f4">
                        <div class="tab-content">
                            <div class="tab-pane active" id="general">
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="layout" accesskey="n">Name</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="layout" type="text" id="layout" value="" required="" aria-required="true" ng-model="$root.currentLayout.name" >
                                        <span class="help-block">The Name of the Layout - (1 - 50 characters)</span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="tags" accesskey="t">Tags</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="tags" type="text" id="tags" value="" maxlength="250" ng-model="$root.currentLayout.tags" >
                                        <span class="help-block">Tags for this layout - used when searching for it. Comma delimited. (1 - 250 characters)</span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-sm-2 control-label" for="templateid" title="Optionally choose a template you have saved before." accesskey="t">Template</label>
                                    <div class="col-sm-10">
                                        <select ng-model="layoutTemplate" ng-options="item as item.name for item in layoutTemplates"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="description">                        
                                <div class="form-group ">
                                    <div class="col-sm-12">
                                        <span class="help-block">An optional description of the Layout. (1 - 250 characters)</span>
                                        <textarea class="form-control" name="description" id="description" rows="5" maxlength="250" ng-model="$root.currentLayout.description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default">Help</button>
        <button class="btn btn-default" ng-click="closeThisDialog();">Cancel</button>
        <button class="btn btn-primary save-button" ng-click="saveLayout();">Save</button>
    </div>
    </div>
</div>
