<div class="modal-content"><div class="modal-header"><button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button><h4 class="modal-title">Add Shell Command</h4></div><div class="modal-body"><div class="bootbox-body"><div class="row">
    <div class="col-md-12">
                        <form id="ModuleForm" class="XiboForm form-horizontal" method="post" action="index.php?p=module&amp;mod=shellcommand&amp;q=Exec&amp;method=AddMedia" novalidate="novalidate">
            <input type="hidden" name="layoutid" value="92"><input type="hidden" id="iRegionId" name="regionid" value="54cac3ae5e336"><input type="hidden" name="showRegionOptions" value="1"><input type="hidden" name="token" value="fbb2d8c0ffc47499ab9fe45f9ab03744"><div class="tab-content">                        <div class="form-group ">
                            <label class="col-sm-2 control-label" for="windowsCommand" accesskey="w">Windows Command</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="windowsCommand" type="text" id="windowsCommand" value="">
                                <span class="help-block">Enter a Windows Command Line compatible command</span>
                            </div>
                        </div>
                                            <div class="form-group ">
                            <label class="col-sm-2 control-label" for="linuxCommand" accesskey="l">Android / Linux Command</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="linuxCommand" type="text" id="linuxCommand" value="">
                                <span class="help-block">Enter an Android / Linux Command Line compatible command</span>
                            </div>
                        </div>
                    </div>                        </form></div>
        
            </div>

</div></div><div class="modal-footer"><button class="btn btn-default">Cancel</button><button class="btn btn-primary save-button">Save</button></div></div>