<script>
  var initComponents = function() {
      console.log('you are here.');
  }
</script>
<style>
    .content {
        overflow: hidden;
        padding: 20px;
    }
    .widget-title {
        margin-top: 6px;
    }
</style>
<div class="content">
    <div class="col-sm-12">
    <ul class="nav nav-pills pull-right">
    <li class=""><a title="Add a new DataSet" href="index.php?p=dataset&amp;q=AddDataSetForm" class="XiboFormButton" onclick="">Add Campaign</a></li></ul>
    <div class="widget">
    <div class="widget-title">Mobile Campaigns </div>
    <div class="widget-body">
    <div class="XiboGrid" id="56534b14ef19e">
    <div class="XiboFilter">
        <div class="FilterDiv" id="Filter">
        <form id="" class="form-inline" method="post" action="">
        <input type="hidden" name="p" value="dataset">
            <input type="hidden" name="q" value="DataSetGrid"><input type="hidden" name="token" value="3d529e04ff6b058744f19ff9e2b01318">
            <div class="tab-content"></div>
        </form>
        </div>
    </div>

    <div class="XiboGrid" id="565e1052c8441">
            <div class="XiboFilter">
            <div class="FilterDiv" id="Filter">
                <form id="" class="form-inline" method="post" action="">
                    <input type="hidden" name="p" value="campaign">
                    <input type="hidden" name="q" value="Grid">
                    <input type="hidden" name="token" value="219a77b5e6e27e0c8f7ef015ddf33c26">
                    <div class="tab-content"></div>
                </form>
            </div>
            </div>
            <div class="XiboData">
            <table class="table tablesorter tablesorter-bootstrap table-bordered" role="grid">
            <colgroup><col style="width: 46.7%;"><col style="width: 33.3%;"><col style="width: 15.3%;"></colgroup>
            <thead>
                <tr role="row" class="tablesorter-headerRow">
                                    <th class="group-false tablesorter-header tablesorter-headerAsc bootstrap-header" data-column="0" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="ascending" aria-label="Name : Ascending sort applied, activate to apply a descending sort" style="-webkit-user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner">Name <i class="tablesorter-icon glyphicon glyphicon-chevron-up"></i></div></div></th>
                        <th class="group-false tablesorter-header tablesorter-headerUnSorted bootstrap-header" data-column="1" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" aria-label="# Layouts : No sort applied, activate to apply an ascending sort" style="-webkit-user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner"># Layouts <i class="tablesorter-icon bootstrap-icon-unsorted"></i></div></div></th>
                                    <th data-sorter="false" data-column="2" class="tablesorter-header sorter-false tablesorter-headerUnSorted bootstrap-header" tabindex="0" scope="col" role="columnheader" aria-disabled="true" unselectable="on" aria-sort="none" style="-webkit-user-select: none;"><div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%"><div class="tablesorter-header-inner"> <i class="tablesorter-icon"></i></div></div></th>
                    </tr>
    </thead>
    <tbody aria-live="polite" aria-relevant="all">
                
                
                
                
                
                
                
                
                
                
            <tr role="row" class="odd">
                                                <td>altria</td>
                                                <td>1</td>
                                                <td>
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                                                        <li class="XiboFormButton campaign_button_schedulenow" href="index.php?p=schedule&amp;q=ScheduleNowForm&amp;CampaignID=100"><a tabindex="-1" href="#">Schedule Now</a></li>
                                                                                    <li class="XiboFormButton campaign_button_layouts" href="index.php?p=campaign&amp;q=LayoutAssignForm&amp;CampaignID=100&amp;Campaign=altria"><a tabindex="-1" href="#">Layouts</a></li>
                                                                                    <li class="XiboFormButton campaign_button_edit" href="index.php?p=campaign&amp;q=EditForm&amp;CampaignID=100"><a tabindex="-1" href="#">Edit</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=DeleteForm&amp;CampaignID=100"><a tabindex="-1" href="#">Delete</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=PermissionsForm&amp;CampaignID=100"><a tabindex="-1" href="#">Permissions</a></li>
                                                                        </ul>
                </div>
            </td>
                    </tr><tr role="row" class="even">
                                                <td>Default</td>
                                                <td>8</td>
                                                <td>
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                                                        <li class="XiboFormButton campaign_button_schedulenow" href="index.php?p=schedule&amp;q=ScheduleNowForm&amp;CampaignID=82"><a tabindex="-1" href="#">Schedule Now</a></li>
                                                                                    <li class="XiboFormButton campaign_button_layouts" href="index.php?p=campaign&amp;q=LayoutAssignForm&amp;CampaignID=82&amp;Campaign=Default"><a tabindex="-1" href="#">Layouts</a></li>
                                                                                    <li class="XiboFormButton campaign_button_edit" href="index.php?p=campaign&amp;q=EditForm&amp;CampaignID=82"><a tabindex="-1" href="#">Edit</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=DeleteForm&amp;CampaignID=82"><a tabindex="-1" href="#">Delete</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=PermissionsForm&amp;CampaignID=82"><a tabindex="-1" href="#">Permissions</a></li>
                                                                        </ul>
                </div>
            </td>
                    </tr><tr role="row" class="odd">
                                                <td>DevPit</td>
                                                <td>2</td>
                                                <td>
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                                                        <li class="XiboFormButton campaign_button_schedulenow" href="index.php?p=schedule&amp;q=ScheduleNowForm&amp;CampaignID=9"><a tabindex="-1" href="#">Schedule Now</a></li>
                                                                                    <li class="XiboFormButton campaign_button_layouts" href="index.php?p=campaign&amp;q=LayoutAssignForm&amp;CampaignID=9&amp;Campaign=DevPit"><a tabindex="-1" href="#">Layouts</a></li>
                                                                                    <li class="XiboFormButton campaign_button_edit" href="index.php?p=campaign&amp;q=EditForm&amp;CampaignID=9"><a tabindex="-1" href="#">Edit</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=DeleteForm&amp;CampaignID=9"><a tabindex="-1" href="#">Delete</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=PermissionsForm&amp;CampaignID=9"><a tabindex="-1" href="#">Permissions</a></li>
                                                                        </ul>
                </div>
            </td>
                    </tr><tr role="row" class="even">
                                                <td>FerryCombined</td>
                                                <td>10</td>
                                                <td>
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                                                        <li class="XiboFormButton campaign_button_schedulenow" href="index.php?p=schedule&amp;q=ScheduleNowForm&amp;CampaignID=53"><a tabindex="-1" href="#">Schedule Now</a></li>
                                                                                    <li class="XiboFormButton campaign_button_layouts" href="index.php?p=campaign&amp;q=LayoutAssignForm&amp;CampaignID=53&amp;Campaign=FerryCombined"><a tabindex="-1" href="#">Layouts</a></li>
                                                                                    <li class="XiboFormButton campaign_button_edit" href="index.php?p=campaign&amp;q=EditForm&amp;CampaignID=53"><a tabindex="-1" href="#">Edit</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=DeleteForm&amp;CampaignID=53"><a tabindex="-1" href="#">Delete</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=PermissionsForm&amp;CampaignID=53"><a tabindex="-1" href="#">Permissions</a></li>
                                                                        </ul>
                </div>
            </td>
                    </tr><tr role="row" class="odd">
                                                <td>FerryInbound</td>
                                                <td>5</td>
                                                <td>
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                                                        <li class="XiboFormButton campaign_button_schedulenow" href="index.php?p=schedule&amp;q=ScheduleNowForm&amp;CampaignID=46"><a tabindex="-1" href="#">Schedule Now</a></li>
                                                                                    <li class="XiboFormButton campaign_button_layouts" href="index.php?p=campaign&amp;q=LayoutAssignForm&amp;CampaignID=46&amp;Campaign=FerryInbound"><a tabindex="-1" href="#">Layouts</a></li>
                                                                                    <li class="XiboFormButton campaign_button_edit" href="index.php?p=campaign&amp;q=EditForm&amp;CampaignID=46"><a tabindex="-1" href="#">Edit</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=DeleteForm&amp;CampaignID=46"><a tabindex="-1" href="#">Delete</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=PermissionsForm&amp;CampaignID=46"><a tabindex="-1" href="#">Permissions</a></li>
                                                                        </ul>
                </div>
            </td>
                    </tr><tr role="row" class="even">
                                                <td>FerryOutbound</td>
                                                <td>5</td>
                                                <td>
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                                                        <li class="XiboFormButton campaign_button_schedulenow" href="index.php?p=schedule&amp;q=ScheduleNowForm&amp;CampaignID=47"><a tabindex="-1" href="#">Schedule Now</a></li>
                                                                                    <li class="XiboFormButton campaign_button_layouts" href="index.php?p=campaign&amp;q=LayoutAssignForm&amp;CampaignID=47&amp;Campaign=FerryOutbound"><a tabindex="-1" href="#">Layouts</a></li>
                                                                                    <li class="XiboFormButton campaign_button_edit" href="index.php?p=campaign&amp;q=EditForm&amp;CampaignID=47"><a tabindex="-1" href="#">Edit</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=DeleteForm&amp;CampaignID=47"><a tabindex="-1" href="#">Delete</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=PermissionsForm&amp;CampaignID=47"><a tabindex="-1" href="#">Permissions</a></li>
                                                                        </ul>
                </div>
            </td>
                    </tr><tr role="row" class="odd">
                                                <td>MediaWheel</td>
                                                <td>0</td>
                                                <td>
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                                                        <li class="XiboFormButton campaign_button_schedulenow" href="index.php?p=schedule&amp;q=ScheduleNowForm&amp;CampaignID=101"><a tabindex="-1" href="#">Schedule Now</a></li>
                                                                                    <li class="XiboFormButton campaign_button_layouts" href="index.php?p=campaign&amp;q=LayoutAssignForm&amp;CampaignID=101&amp;Campaign=MediaWheel"><a tabindex="-1" href="#">Layouts</a></li>
                                                                                    <li class="XiboFormButton campaign_button_edit" href="index.php?p=campaign&amp;q=EditForm&amp;CampaignID=101"><a tabindex="-1" href="#">Edit</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=DeleteForm&amp;CampaignID=101"><a tabindex="-1" href="#">Delete</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=PermissionsForm&amp;CampaignID=101"><a tabindex="-1" href="#">Permissions</a></li>
                                                                        </ul>
                </div>
            </td>
                    </tr><tr role="row" class="even">
                                                <td>tradeshow-interleave</td>
                                                <td>2</td>
                                                <td>
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                                                        <li class="XiboFormButton campaign_button_schedulenow" href="index.php?p=schedule&amp;q=ScheduleNowForm&amp;CampaignID=29"><a tabindex="-1" href="#">Schedule Now</a></li>
                                                                                    <li class="XiboFormButton campaign_button_layouts" href="index.php?p=campaign&amp;q=LayoutAssignForm&amp;CampaignID=29&amp;Campaign=tradeshow-interleave"><a tabindex="-1" href="#">Layouts</a></li>
                                                                                    <li class="XiboFormButton campaign_button_edit" href="index.php?p=campaign&amp;q=EditForm&amp;CampaignID=29"><a tabindex="-1" href="#">Edit</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=DeleteForm&amp;CampaignID=29"><a tabindex="-1" href="#">Delete</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=PermissionsForm&amp;CampaignID=29"><a tabindex="-1" href="#">Permissions</a></li>
                                                                        </ul>
                </div>
            </td>
                    </tr><tr role="row" class="odd">
                                                <td>tradeshow-sequenced</td>
                                                <td>10</td>
                                                <td>
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                                                        <li class="XiboFormButton campaign_button_schedulenow" href="index.php?p=schedule&amp;q=ScheduleNowForm&amp;CampaignID=32"><a tabindex="-1" href="#">Schedule Now</a></li>
                                                                                    <li class="XiboFormButton campaign_button_layouts" href="index.php?p=campaign&amp;q=LayoutAssignForm&amp;CampaignID=32&amp;Campaign=tradeshow-sequenced"><a tabindex="-1" href="#">Layouts</a></li>
                                                                                    <li class="XiboFormButton campaign_button_edit" href="index.php?p=campaign&amp;q=EditForm&amp;CampaignID=32"><a tabindex="-1" href="#">Edit</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=DeleteForm&amp;CampaignID=32"><a tabindex="-1" href="#">Delete</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=PermissionsForm&amp;CampaignID=32"><a tabindex="-1" href="#">Permissions</a></li>
                                                                        </ul>
                </div>
            </td>
                    </tr><tr role="row" class="even">
                                                <td>Whatever</td>
                                                <td>0</td>
                                                <td>
                <div class="btn-group pull-right">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                                                        <li class="XiboFormButton campaign_button_schedulenow" href="index.php?p=schedule&amp;q=ScheduleNowForm&amp;CampaignID=148"><a tabindex="-1" href="#">Schedule Now</a></li>
                                                                                    <li class="XiboFormButton campaign_button_layouts" href="index.php?p=campaign&amp;q=LayoutAssignForm&amp;CampaignID=148&amp;Campaign=Whatever"><a tabindex="-1" href="#">Layouts</a></li>
                                                                                    <li class="XiboFormButton campaign_button_edit" href="index.php?p=campaign&amp;q=EditForm&amp;CampaignID=148"><a tabindex="-1" href="#">Edit</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=DeleteForm&amp;CampaignID=148"><a tabindex="-1" href="#">Delete</a></li>
                                                                                    <li class="XiboFormButton campaign_button_delete" href="index.php?p=campaign&amp;q=PermissionsForm&amp;CampaignID=148"><a tabindex="-1" href="#">Permissions</a></li>
                                                                        </ul>
                </div>
            </td>
                    </tr></tbody>
</table>
</div>
            <div class="pagination form-inline tablesorter-pager" id="XiboPager_565e1052c8441">
    <button type="button" class="btn first disabled" aria-disabled="true" tabindex="0"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
    <button type="button" class="btn prev disabled" aria-disabled="true" tabindex="0"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
    <span class="pagedisplay">1 - 10 / 10 (10)</span> <!-- this can be any element, including an input -->
    <button type="button" class="btn next disabled" aria-disabled="true" tabindex="0"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
    <button type="button" class="btn last disabled" aria-disabled="true" tabindex="0"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
    <select class="pagesize input-mini form-control" title="Select page size" aria-disabled="false">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    <select class="pagenum input-mini form-control" title="Select page number" aria-disabled="false"><option>1</option></select>
    <button type="button" class="btn remove"><i class="fa fa-ban"></i></button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>