
 
<!-- DSN starts here -->
<style>
    .content {
/*        overflow: hidden;*/
        min-height: 750px;
/*        line-height: 100%;*/
    }

/*
    #sidebar-wrapper {
        float: left;
        height: 100%;
    }
    .sidebar {
        width: 242px;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    
    .sidebar-nav {
        width: 250px;
        position: fixed;
        float: left;
        border-top: none;
        border-left: none;
        margin: 6px 0 0;
        background: #222222;
    }
*/
</style>
<link rel="stylesheet"  href="css/style.css" />

<div id="page-not-content" class="active">

    <!-- START SIDEBAR -->
    <div data-offset-top="360" data-spy="affix" class="sidebar-nav affix">

      <div class="sidebar-avatar">
          <img src="/images/logo.png" alt="avatar" class="thumbnail-avatar">
      </div>

      <a data-toggle="collapse" data-target=".nav-collapse" class="btn-sidebar">
          <span class="notify navigation span12"><i class="icon-reorder"></i> Navigation <span class="pull-right label sidebar-label label-danger"><i class="icon-angle-down"></i> </span></span>
      </a>

      <div class="nav-collapse subnav-collapse collapse ">
          <a href="/schedule" class="nav-header active" ><i class="icon-dashboard"></i>Schedule</a>
          
          <a href="#analytics" class="nav-header" data-toggle="collapse"><i class="icon-signal"></i>Design<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
          <ul id="analytics" class="nav nav-list collapse">
              <li ><a href="/appmetrics"><i class="icon-bar-chart"></i> Campaigns</a></li>
              <li ><a href="/proof"><i class="icon-file-alt"></i> Layouts</a></li>
              <li ><a href="/proof"><i class="icon-file-alt"></i> Templates</a></li>
              <li ><a href="/proof"><i class="icon-file-alt"></i> Resolutions</a></li>
          </ul>

          <a href="#users" class="nav-header" data-toggle="collapse"><i class="icon-road"></i>Library<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
          <ul id="users" class="nav nav-list collapse">
            <li ><a href="/library/media" class="nav-header" ><i class="icon-user"></i> Media</a></li>
            <li ><a href="/library/datasets" class="nav-header" ><i class="icon-user"></i> DataSets</a></li>
          </ul>

          <a href="#rules" class="nav-header" data-toggle="collapse"><i class="icon-beaker"></i>Displays<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
          <ul id="rules" class="nav nav-list collapse">
              <li ><a href="/display/displays"><i class="icon-beaker"></i>    Displays</a></li>
              <li ><a href="/display/groups"><i class="icon-dashboard"></i>    Display Groups</a></li>
              <li ><a href="/display/stats"><i class="icon-road"></i>    Statistics</a></li>
              <li ><a href="/display/settings"><i class="icon-picture"></i>    Display Settings</a></li>
          </ul>

          <a href="#ops" class="nav-header" data-toggle="collapse"><i class="icon-money"></i>Administration<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
          <ul id="ops" class="nav nav-list collapse">
            <li ><a href="/ops/rollup"><i class="icon-money"></i> Users</a></li>
            <li ><a href="/kiosk/list"><i class="icon-money"></i> User Groups</a></li>
            <li ><a href="/kiosk/report"><i class="icon-money"></i> Settings</a></li>
            <li ><a href="/ops/platform"><i class="icon-money"></i> Applications</a></li>
            <li ><a href="/ops/platform/report"><i class="icon-money"></i> Modules</a></li>
            <li ><a href="/ops/userreset"><i class="icon-money"></i> Transitions</a></li>
          </ul>

          <a href="#ops" class="nav-header" data-toggle="collapse"><i class="icon-money"></i>Advanced<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
          <ul id="ops" class="nav nav-list collapse">
            <li ><a href="/ops/rollup"><i class="icon-money"></i> Log</a></li>
            <li ><a href="/kiosk/list"><i class="icon-money"></i> Sessions</a></li>
            <li ><a href="/kiosk/report"><i class="icon-money"></i> Report Fault</a></li>
            <li ><a href="/ops/platform"><i class="icon-money"></i> About</a></li>
            <li ><a href="/ops/platform/report"><i class="icon-money"></i> Help Links</a></li>
          </ul>
          
        </div>

    </div>
    <!-- END SIDEBAR -->

<div class='content'>
  Kombi Contact Content Panel.
</div>

</div>
