
 
<!-- DSN starts here -->
<style>
    .content {
/*        overflow: hidden;*/
        min-height: 750px;
/*        line-height: 100%;*/
    }

/*
    #sidebar-wrapper {
        float: left;
        height: 100%;
    }
    .sidebar {
        width: 242px;
        float: left;
        margin: 0px;
        padding: 0px;
    }
    
    .sidebar-nav {
        width: 250px;
        position: fixed;
        float: left;
        border-top: none;
        border-left: none;
        margin: 6px 0 0;
        background: #222222;
    }
*/
</style>
<link rel="stylesheet"  href="css/style.css" />

<div id="page-not-content" ng-cloak class="ng-cloak page-stub">

    <!-- START SIDEBAR -->
    <div data-offset-top="360" data-spy="affix" class="sidebar-nav affix">

      <div class="sidebar-avatar">
          <img src="/images/logo.png" alt="avatar" class="thumbnail-avatar">
      </div>

      <a data-toggle="collapse" data-target=".nav-collapse" class="btn-sidebar">
          <span class="notify navigation span12"><i class="icon-reorder"></i> Navigation <span class="pull-right label sidebar-label label-danger"><i class="icon-angle-down"></i> </span></span>
      </a>

      <div class="nav-collapse subnav-collapse collapse ">
          <a href="/#/sensors" class="nav-header active" ><i class="icon-dashboard"></i>Sensor Management</a>
          <a href="/#/sensors" class="nav-header active" ><i class="icon-dashboard"></i>Sensor Rules</a>
          <a href="#reports" class="nav-header" data-toggle="collapse"><i class="icon-beaker"></i>Reports<span class="label sidebar-label label-info"><i class="icon-angle-down"></i> </span></a>
          <ul id="reports" class="nav nav-list collapse">
              <li ><a href="/#/sensors"><i class="icon-beaker"></i> Counts</a></li>
              <li ><a href="/#/sensors"><i class="icon-dashboard"></i> Demographics</a></li>
              <li ><a href="/#/sensors"><i class="icon-road"></i> Security</a></li>
          </ul>
          
        </div>

    </div>
    <!-- END SIDEBAR -->

<div class='content'>
  Kombi Sensors Content Panel.
</div>

</div>
